header {
  background-color: #007765;
  padding: 25px;
}
.mainDivHeader {
  position:relative
  width: fit-content;
  margin-left:350px
}

.headerLinks {
  position:absolute;
  top:40px;
  right:350px;
  font-size: 22px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.heroBlockFirst{
  position:relative
}
.firstHeroImg{
  width:100%


}
.firstHeroH1{
  color:white;
  font-size:72px;
  position:absolute;
  width:fit-content;
  letter-spacing: 5px;
  top:200px;
  left:35%;

}
.sectionTwo{
  margin-top:90px
}

.sectionTwo h1{
  font-size:72px;
  width:fit-content;
  margin:auto;
  color:#007765

}
.sectionTwo p{
  font-size:32px;
  width:55%;
  margin:auto;
  padding:5px;
  margin-top:35px;
  margin-bottom:15px


}
.heroBlockTwo img{
  width:100%
}
.heroBlockTwo{
margin-top:150px;
  position:relative;
   text-align: center;
}

.heroBlockTwo p{
  width:43%;
  color:white;
  font-size:48px;
  position:absolute;
  top:100px;
  left:25%;
  letter-spacing:1px;

}
